.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 10vh);
}
.profile {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 9;
  column-gap: 50px;
}
